<main>
  <mat-card>
    <form (ngSubmit)="userRegister(registerForm)" #registerForm="ngForm">
      <mat-form-field class="example-full-width">
        <input type="text" matInput name="usernameValue" id="" ngModel placeholder="Username or Email ID" required minlength="3" #usernameValue="ngModel" />
        <mat-error *ngIf="usernameValue.invalid" >Please Fill correct username or email</mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input type="text" matInput name="passwordValue" id="" ngModel placeholder="Password" required #passwordValue="ngModel" />
        <mat-error *ngIf="passwordValue.invalid" >Please Fill correct Password</mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" class="submit_button" type="submit" >Save Post</button>
    </form>
    </mat-card>
  </main>
