<mat-toolbar color="primary">
  <div class="custom_page">
    Signup
  </div>
</mat-toolbar>

<main>
  <mat-card>
    <form [formGroup]="registrationForm" (ngSubmit)="userRegister(); registrationForm.reset()" >
      <mat-form-field class="example-full-width">
        <input type="text" matInput  placeholder="Username*" formControlName="name" />
          <mat-error *ngIf="registrationForm.controls.name.errors?.required">  Please Fill correct name</mat-error>
          <mat-error *ngIf="registrationForm.controls.name.errors?.minlength">  Username Should be 4 character. {{registrationForm.controls.name.errors.minlength.requiredLength - registrationForm.controls.name.errors.minlength.actualLength}} character left to complete the field </mat-error>
          <mat-error  *ngIf="registrationForm.controls.name.errors?.nameIsNotAllowed" > UserName Already in use! Please try another one.</mat-error>
      </mat-form-field>


      <mat-form-field class="example-full-width">
        <input type="text" matInput   placeholder="Email ID*"  formControlName="email" />
        <mat-error *ngIf="registrationForm.controls.email.errors?.email" >Please Fill correct email address</mat-error>
        <mat-error  *ngIf="registrationForm.controls.email.errors?.emailIsNotAllowed" > Email Already in use! Please try another one.</mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input type="number" matInput  placeholder="Phone Number*" formControlName="phone"  />
        <mat-error *ngIf="registrationForm.controls.phone.errors?.required">  Please Fill correct Phone Number</mat-error>
        <mat-error *ngIf="registrationForm.controls.phone.errors?.phoneMinLength">  Phone Number Should be 10 Number.</mat-error>
        <mat-error  *ngIf="registrationForm.controls.phone.errors?.phoneIsNotAllowed" > Phone Number Already in use! Please try another one.</mat-error>
      </mat-form-field>

      <mat-radio-group aria-label="Select Gender" class="example-radio-group" formControlName="gender">
        <mat-radio-button class="example-radio-button" value="Male">Male</mat-radio-button>
        <mat-radio-button class="example-radio-button" value="Female">Female</mat-radio-button>
      </mat-radio-group>

      <mat-form-field class="example-full-width">
        <input type="password" matInput name="password" formControlName="password" placeholder="Password*"  />
        <mat-error *ngIf="registrationForm.controls.password.errors?.required">  Please Fill Password</mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input type="password" matInput name="cpassword" formControlName="cpassword" placeholder="Confirm Password*"  />
        <mat-error *ngIf="registrationForm.controls.cpassword.errors?.required">  Please Fill Confirm Password</mat-error>
        <mat-error  *ngIf="registrationForm.controls.cpassword.errors?.passwordNotMatch == true" > Passwords not matched. Please try again with it!</mat-error>
      </mat-form-field>







      <button mat-raised-button color="primary" class="submit_button" type="submit" [disabled]="registrationForm.valid == false" >Save Post</button>
    </form>
    </mat-card>
  </main>
