<main>
  <mat-card>
    <form (ngSubmit)="userRegister(registrationForm)" #registrationForm="ngForm">
      <mat-form-field class="example-full-width">
        <input type="text" matInput name="name" id="" ngModel placeholder="name" required  #name="ngModel" (keydown)="dataMatch(name)" />
        <mat-error *ngIf="val && (name.dirty || name.touched)" > UserName Already in use! Please try another one.</mat-error>
        {{val}}
        <!-- <mat-error *ngIf="name.invalid" >Please Fill correct name</mat-error> -->
        {{matchFlag}}
      </mat-form-field>


      <mat-form-field class="example-full-width">
        <input type="text" matInput name="email" id="" ngModel placeholder="Email ID"  email #email="ngModel" (keyup)="dataMatch(email)" />
        <mat-error *ngIf="email.invalid" >Please Fill correct email</mat-error>
      </mat-form-field>


      <mat-form-field class="example-full-width">
        <input type="password" matInput name="password" id="" ngModel placeholder="Password"  #password="ngModel" />
        <mat-error *ngIf="password.invalid" >Please Fill correct Password</mat-error>
      </mat-form-field>


        <mat-radio-group aria-label="Select Gender" class="example-radio-group">
          <mat-radio-button class="example-radio-button" name="gender" value="Male">Male</mat-radio-button>
          <mat-radio-button class="example-radio-button" name="gender" value="Female">Female</mat-radio-button>
        </mat-radio-group>







      <mat-form-field class="example-full-width">
        <input type="text" matInput name="phone" id="" ngModel placeholder="Phonenumber"  minlength="" #phone="ngModel" (keyup)="dataMatch(phone)" />
        <mat-error *ngIf="phone.invalid" >Please Fill correct Phonenumber</mat-error>
      </mat-form-field>






      <button mat-raised-button color="primary" class="submit_button" type="submit" >Save Post</button>
    </form>
    </mat-card>
  </main>
