<mat-toolbar color="primary">
  <div class="custom_page"> Login</div>
</mat-toolbar>

<main>
<mat-card>
  <form [formGroup]="loginFormGroup" (ngSubmit)="userLogin()" >
    <mat-form-field class="example-full-width">
      <input type="text" matInput   placeholder="Email ID*"  formControlName="email" />
      <mat-error *ngIf="loginFormGroup.controls.email.errors?.email" >Please Fill correct email address</mat-error>
      <mat-error  *ngIf="loginFormGroup.controls.email.errors?.emailNotAvailable" > This email address is not registered with us. Kindly try with another email address or signup!</mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input type="password" matInput name="password" id="" placeholder="Password" formControlName="password" />
      <mat-error *ngIf="" >Please Fill correct Password</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" class="submit_button" type="submit" >Save Post</button>
  </form>
  </mat-card>
</main>
