/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
main{
  max-width: 80%;
  width: 100%;
  margin:25px auto;
}

.mat-form-field-flex{
  margin:10px 0;
}

.submit_button{
    margin:15px 0 5px 0 !important;
}
.mat-radio-group{margin: 15px 0;display: inline-block;}
